*{ 
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-width: 768px;
    min-height: 100%;
}
body {
    position: relative;
    background-image: url(../images/bg/bg4.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    width: 100%;
    min-height: 100%;  //-  Нужно для прижатия футера к низу
  }

.csa-head {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 80px;

}

.content {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    margin: 0;
}

.content-box {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 570px;
    height: 36rem;
    // width: 350px;
    width: 22rem;
}

.content-box {
    .logo { 
        position: relative;
        margin-top: 60px;
        margin-left: 60px;
        margin-bottom: 25px;
    }
}

form {
    max-width: 350px;

    input {
        position: relative;
    }

    input:valid {
    border-bottom: #0ab289 2px solid;
    }
    input:hover {
        border-bottom: #385dae 2px solid;
    }

}

.content-box__form {
    height: 300px;
    width: 300px;

    input{
        height: 40px;
        width: 260px;
        margin-left: 46px;
        margin-bottom: 20px;
        outline: none;
        border: none;
        border-bottom: 2px solid #e5e5e5;
        color: #4e4e4e;
        font-family: 'Ubuntu-Light';
        font-size: 16px;
    }

    button {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: .5em 2em;
        outline: none;
        border: 2px solid #ff8041;
        border-radius: 2px;
        background: #ff8041;
        width: 260px;
        height: 40px;
        margin-left: 46px;
        margin-top: -8px; //Можно ли так использовать?
        cursor: pointer;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        display: inline-block;
        margin-top: 30px;
        margin-left: 130px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #385dae;
    }

}

.content-box__footer{
    display: block;
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    height: 95px;

    .content-box__footer_googlePlay {
        display: block;
        position: relative;
        width: 260px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 2px;
        margin-left: 45px;
        margin-top: 25px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}

footer {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  height: 80px;
  margin-top: -80px;

  .footer__sidebar {
      display: block;
      position: absolute;
      width: 730px;
      height: 30px;
      margin-top: 30px;
      left: 50%;
      transform: translate(-50%, 0); 
  }

  ul {
    padding: 4px; /* Значение полей */
    float: left;
   }
   ul, li {
    display: inline-block; /* Отображать как строчный элемент */
    padding: 3px; /* Поля вокруг текста */
   }
   li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
   }

   li:last-child {
    font-weight: 700;
   }

   .icon_email, .icon_phone, .icon_lang {
       display: block;
       margin-right: 10px;
       margin-top: 3px;
       float: left;
   }

   .icon_lang {
       position: absolute;
       margin-top: 8px;
   }

   .lang-select {
       display: block;
       position: absolute;
       width: 80px;
       height: 20px;
       right: 0;
    
       select {
        display: block;
        width: 25px;
        height: 15px;
        background: none;
        border: none;
        color: #fff;
        appearance: none;
        float: left;
        outline: none;
        cursor: pointer;
        margin-top: 8px;
        margin-left: 25px;
       }

       .arrow {
           display: block;
           position: relative;
           margin-top: 13px;
           margin-right: 0px;
       }
    }
}