@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  min-width: 768px;
  min-height: 100%; }

body {
  position: relative;
  background-image: url(../images/bg/bg4.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat; }

.wrapper {
  position: relative;
  margin: 0 auto;
  height: auto !important;
  height: 100%;
  width: 100%;
  min-height: 100%; }

.csa-head {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 80px; }

.content {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0; }

.content-box {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 36rem;
  width: 22rem; }

.content-box .logo {
  position: relative;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 25px; }

form {
  max-width: 350px; }
  form input {
    position: relative; }
  form input:valid {
    border-bottom: #0ab289 2px solid; }
  form input:hover {
    border-bottom: #385dae 2px solid; }

.content-box__form {
  height: 300px;
  width: 300px; }
  .content-box__form input {
    height: 40px;
    width: 260px;
    margin-left: 46px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    color: #4e4e4e;
    font-family: 'Ubuntu-Light';
    font-size: 16px; }
  .content-box__form button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid #ff8041;
    border-radius: 2px;
    background: #ff8041;
    width: 260px;
    height: 40px;
    margin-left: 46px;
    margin-top: -8px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px; }
  .content-box__form a {
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    margin-left: 130px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #385dae; }

.content-box__footer {
  display: block;
  position: absolute;
  bottom: 0;
  background: #000;
  width: 100%;
  height: 95px; }
  .content-box__footer .content-box__footer_googlePlay {
    display: block;
    position: relative;
    width: 260px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-left: 45px;
    margin-top: 25px; }
    .content-box__footer .content-box__footer_googlePlay img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 80px;
  margin-top: -80px; }
  footer .footer__sidebar {
    display: block;
    position: absolute;
    width: 730px;
    height: 30px;
    margin-top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  footer ul {
    padding: 4px;
    /* Значение полей */
    float: left; }
  footer ul, footer li {
    display: inline-block;
    /* Отображать как строчный элемент */
    padding: 3px;
    /* Поля вокруг текста */ }
  footer li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer; }
  footer li:last-child {
    font-weight: 700; }
  footer .icon_email, footer .icon_phone, footer .icon_lang {
    display: block;
    margin-right: 10px;
    margin-top: 3px;
    float: left; }
  footer .icon_lang {
    position: absolute;
    margin-top: 8px; }
  footer .lang-select {
    display: block;
    position: absolute;
    width: 80px;
    height: 20px;
    right: 0; }
    footer .lang-select select {
      display: block;
      width: 25px;
      height: 15px;
      background: none;
      border: none;
      color: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      float: left;
      outline: none;
      cursor: pointer;
      margin-top: 8px;
      margin-left: 25px; }
    footer .lang-select .arrow {
      display: block;
      position: relative;
      margin-top: 13px;
      margin-right: 0px; }

@media screen and (max-height: 820px) {
  .content-box {
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -15%);
    -ms-transform: translate(-50%, -15%);
    transform: translate(-50%, -15%); } }
